@import "mixins";


$transition: all 0.5s;

// button elements //
button.button{
  @include button;

}

.primary{
  text-align: center;
}

button.button:hover{
   background-color: $button-border-color;
}

.mainTitle{
   text-align: center;
   padding: .1em;
   margin-top: -5em;
   margin-bottom: -6em;
}

.where{
   text-align: center;
   margin-bottom: 3em;
}

//header
header h1{
   display: inline-block;
}



//expanding info
.expanding {
    margin:2.6em 0px 0px 0px;
    list-style:none;
    display:block;
}

.expand-button, .expand-map {
   cursor:pointer;
}

.moreinfo {
   overflow:hidden;
   max-height:50px;
   position:relative;
   -webkit-transition: $transition;
   -moz-transition: $transition;
   transition: $transition;
}

.moreinfo p {
   color:white;
}

.map {
   overflow:hidden;
   max-height:50px;
   margin:0px 0px 10px;
   -webkit-transition: $transition;
   -moz-transition: $transition;
   transition: $transition;
}

.open {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    transition: $transition;
    max-height:700px;
}

img.mapz{
   height: 290px;
}

//image of the art
img.artpic{
   // height: 380px;
   width: 100%;
}

//footer
footer{
   text-align: center;
}