@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,300italic,100italic,400italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button.button {
  background-color: rgba(38, 52, 126, 0.3);
  border: 0.2em solid #233071;
  height: 4em;
  width: 16em;
  color: white;
  text-decoration: none;
  cursor: pointer; }

.primary {
  text-align: center; }

button.button:hover {
  background-color: #233071; }

.mainTitle {
  text-align: center;
  padding: .1em;
  margin-top: -5em;
  margin-bottom: -6em; }

.where {
  text-align: center;
  margin-bottom: 3em; }

header h1 {
  display: inline-block; }

.expanding {
  margin: 2.6em 0px 0px 0px;
  list-style: none;
  display: block; }

.expand-button, .expand-map {
  cursor: pointer; }

.moreinfo {
  overflow: hidden;
  max-height: 50px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.moreinfo p {
  color: white; }

.map {
  overflow: hidden;
  max-height: 50px;
  margin: 0px 0px 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.open {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 700px; }

img.mapz {
  height: 290px; }

img.artpic {
  width: 100%; }

footer {
  text-align: center; }

body {
  width: 100%;
  background-image: url(../images/backgroundindex.jpg);
  background-attachment: fixed;
  background-size: cover; }

.home-small {
  margin-top: 2.2em; }

.homeArt-small {
  padding: 0; }

.locationTitle {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .locationTitle:last-child {
    margin-right: 0; }

@media screen and (min-width: 1085px) {
  nav.title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    nav.title:last-child {
      margin-right: 0; } }
@media screen and (max-width: 1084px) {
  nav.title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    nav.title:last-child {
      margin-right: 0; } }
@media screen and (max-width: 731px) {
  nav.title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    nav.title:last-child {
      margin-right: 0; } }
@media screen and (max-width: 320px) {
  nav.title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    nav.title:last-child {
      margin-right: 0; } }

.question {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .question:last-child {
    margin-right: 0; }

@media screen and (min-width: 1085px) {
  button.button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 30.0556%;
    margin: .9em; }
    button.button:last-child {
      margin-right: 0; } }
@media screen and (max-width: 1084px) {
  button.button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 28.34964%;
    margin: 1em; }
    button.button:last-child {
      margin-right: 0; } }
@media screen and (max-width: 731px) {
  button.button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 86.35231%;
    text-align: center;
    margin: .2em; }
    button.button:last-child {
      margin-right: 0; } }
@media screen and (max-width: 320px) {
  button.button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 86.35231%;
    margin: .2em; }
    button.button:last-child {
      margin-right: 0; } }

p.news {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  p.news:last-child {
    margin-right: 0; }

nav h1 {
  float: left; }

@media screen and (min-width: 1085px) {
  nav a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    position: relative;
    float: left;
    margin-top: 2.8em;
    margin-left: -2em; }
    nav a:last-child {
      margin-right: 0; } }
@media screen and (max-width: 1084px) {
  nav a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    position: relative;
    float: left;
    margin-top: 2.8em;
    margin-left: 1em; }
    nav a:last-child {
      margin-right: 0; } }
@media screen and (max-width: 731px) {
  nav a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    nav a:last-child {
      margin-right: 0; } }
@media screen and (max-width: 320px) {
  nav a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-top: -1em;
    margin-left: 0; }
    nav a:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1085px) {
  nav a.new {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    position: relative;
    float: left;
    margin-top: 2.8em;
    margin-left: 3em; }
    nav a.new:last-child {
      margin-right: 0; } }
@media screen and (max-width: 1084px) {
  nav a.new {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    position: relative;
    float: left;
    margin-top: 2.8em;
    margin-left: 3em; }
    nav a.new:last-child {
      margin-right: 0; } }
@media screen and (max-width: 731px) {
  nav a.new {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-top: 2.8em;
    margin-left: 1em; }
    nav a.new:last-child {
      margin-right: 0; } }
@media screen and (max-width: 320px) {
  nav a.new {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-top: -1em;
    margin-left: 0; }
    nav a.new:last-child {
      margin-right: 0; } }

.wrapper {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper .artista {
    background-color: #233071; }
  .wrapper .primary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-bottom: 4em;
    background-color: #233071;
    padding: 1em; }
    .wrapper .primary:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .wrapper .primary {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%;
        margin-bottom: 0; }
        .wrapper .primary:last-child {
          margin-right: 0; } }
  .wrapper .secondary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-bottom: 4em;
    background-color: #233071;
    padding-left: 1em; }
    .wrapper .secondary:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .wrapper .secondary {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%;
        margin-bottom: 2em; }
        .wrapper .secondary:last-child {
          margin-right: 0; } }
  .wrapper .open p {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 78.8297%; }
    .wrapper .open p:last-child {
      margin-right: 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  footer:last-child {
    margin-right: 0; }

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: white; }

h1.locationTitle {
  font-size: 3em;
  text-align: center; }

.secondary > h1 {
  font-size: 2em;
  margin-top: 1.2em;
  margin-bottom: 1.3em; }

.secondary > h2 {
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: white; }

p.brief {
  margin-bottom: -2em; }

.open p {
  color: white;
  margin-left: 2em; }

h3, a {
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: white; }

a {
  text-decoration: none;
  margin: .3em; }

.art {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  padding-left: .1em;
  padding-right: .1em; }

@media screen and (min-width: 1085px) {
  .home {
    font-size: 7em; } }
@media screen and (max-width: 1084px) {
  .home {
    font-size: 5em; } }
@media screen and (max-width: 731px) {
  .home {
    font-size: 3.5em; } }
@media screen and (max-width: 500px) {
  .home {
    font-size: 2.33333em;
    margin-bottom: 4em; } }
@media screen and (max-width: 320px) {
  .home {
    font-size: 1.66667em; } }

.homeArt {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  padding-left: .2em;
  padding-right: .1em; }
  @media screen and (min-width: 1085px) {
    .homeArt {
      font-size: 12.6em; } }
  @media screen and (max-width: 1084px) {
    .homeArt {
      font-size: 7em; } }
  @media screen and (max-width: 731px) {
    .homeArt {
      font-size: 5em;
      margin-top: 1.4em; } }
  @media screen and (max-width: 500px) {
    .homeArt {
      font-size: 3.5em; } }
  @media screen and (max-width: 320px) {
    .homeArt {
      font-size: 2.25806em;
      margin-top: 2.3em;
      margin-bottom: 3em; } }

.button {
  font-family: "Roboto";
  font-weight: 500;
  color: white;
  font-size: 1em; }

.expand-button, .expand-map {
  font-family: "Roboto";
  font-weight: 500;
  color: #F50BFF;
  font-size: 1em; }

p {
  font-family: "Roboto";
  font-weight: 300;
  color: white; }

.title {
  margin-top: -2em;
  margin-left: 1em; }

.home-small {
  font-size: 1.6em; }

.homeArt-small {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.88em;
  padding-left: .2em;
  padding-right: .1em; }
